$themes: (
  light: (
    backgroundColor: white,
    textColor: #202020,
    buttonTextColor: #202020,
    buttonTextTransform: none,
    buttonTextHoverColor: #408bbd,
    buttonColor: #fff,
    buttonBorder: 2px solid #408bbd,
    buttonBorderFocus: solid 2px grey,
  ),
  dark: (
    backgroundColor: #222,
    textColor: #ddd,
    buttonTextColor: #aaa,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: #ddd,
    buttonColor: #333,
    buttonBorder: 1px solid #333,
  ),
);

/*
 * Implementation of themes
 * Credits to https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
